
DownTown/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DownTown/obj/Debug/DownTown.csproj.FileListAbsolute.txt
.vs/DownTown/v14/.suo
.vs/DownTown/v14/.suo
DownTown/bin/Debug/DownTown.exe
DownTown/bin/Debug/DownTown.pdb
DownTown/DownTown.csproj
DownTown/obj/Debug/DownTown.csproj.FileListAbsolute.txt
DownTown/obj/Debug/DownTown.csproj.GenerateResource.Cache
DownTown/obj/Debug/DownTown.exe
DownTown/obj/Debug/DownTown.pdb
